@import "screen.css";

body {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: white;
  color: black;
}

/*---------------------------------------------------------------------------*/

#content {
  margin: 0;
  padding: 0 0 2em;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
